Repository magnetis/astro-galaxy, pull requests merged in 2020-03, with the labels that each got.

#53 Create standard text inputs
  .gitignore
  packages/components/src/InputText/__tests__/__snapshots__/index.js.snap
  packages/components/src/InputText/__tests__/index.js
  packages/components/src/InputText/index.js
  packages/components/src/InputText/index.story.js
  packages/components/src/index.js
  packages/docs/src/pages/input.mdx
  packages/docs/src/pages/inputs.mdx
Labels: astro-galaxy-components, documentation

#58 Introduce Tabs component
  packages/components/src/IconLinkButton/__tests__/index.test.js
  packages/components/src/Tab/__tests__/__snapshots__/index.test.js.snap
  packages/components/src/Tab/__tests__/index.test.js
  packages/components/src/Tab/index.js
  packages/components/src/Tab/index.story.js
  packages/components/src/index.js
  packages/docs/src/components/Sidebar.js
  packages/docs/src/pages/controls-toggles.mdx
  plop-templates/component/index.js.hbs
Labels: astro-galaxy-components, documentation

#56 Slider
  packages/components/src/Slider/__tests__/__snapshots__/index.test.js.snap
  packages/components/src/Slider/__tests__/index.test.js
  packages/components/src/Slider/index.js
  packages/components/src/Slider/index.story.js
  packages/components/src/index.js
  packages/docs/src/pages/controls-toggles.mdx
Labels: astro-galaxy-components, documentation

#59 Introduce tokens package
  package.json
  packages/components/src/Button/__tests__/__snapshots__/index.test.js.snap
  packages/components/src/Checkbox/__tests__/__snapshots__/index.test.js.snap
  packages/components/src/IconButton/__tests__/__snapshots__/index.test.js.snap
  packages/components/src/IconGhostButton/__tests__/__snapshots__/index.test.js.snap
  packages/components/src/IconLinkButton/__tests__/__snapshots__/index.test.js.snap
  packages/components/src/IconOutlineButton/__tests__/__snapshots__/index.test.js.snap
  packages/components/src/InputFilePreview/__tests__/__snapshots__/index.test.js.snap
  packages/components/src/InputText/__tests__/__snapshots__/index.js.snap
  packages/components/src/Radio/__tests__/__snapshots__/index.test.js.snap
  packages/components/src/Slider/__tests__/__snapshots__/index.test.js.snap
  packages/components/src/Tab/__tests__/__snapshots__/index.test.js.snap
  packages/components/src/TextArea/__tests__/__snapshots__/index.test.js.snap
  packages/components/src/Toggle/__tests__/__snapshots__/index.test.js.snap
  packages/core/src/themes/control.js
  packages/tokens/package.json
  packages/tokens/src/colors.js
  packages/tokens/src/index.d.ts
  packages/tokens/src/index.js
Labels: astro-galaxy-tokens

#60 Release 1.0.0 alpha.3
  CHANGELOG.md
  packages/components/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/icons/package.json
  packages/tokens/README.md
  packages/tokens/package.json
Labels: release
